:root {
  --btn-color: #ffffff;
  --main-title-color: #ffffff;
  --second-title-color: #2f303a;
  --third-title-color: #757575;
  --forth-title-color: #212121;
  --accent-color: #2196f3;
  --typical-margin: 20px;
  --fifth-title-color: #eee;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-title-color);
  font-style: normal;
  font-size: 14px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------------HEADER------------- */

.header-nav {
  display: flex;
  margin-right: auto;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--main-title-color);
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
}
.header-item {
  margin-right: 50px;
}
.header-nav .iteam + .iteam {
  margin-left: 50px;
}

/* .header-nav .item:(:last-child){
  margin-right: 50px;
} */
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}
.logo-accent {
  color: var(--forth-title-color);
}

.link {
  text-decoration: none;
}
/* .header-item { 
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
} */
.nav-link {
  font-weight: 500;
  display: block;
  padding: 32px 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  margin-right: auto;
}

.header-item-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
}
.header-contact-link {
  display: flex;
  font-weight: 500;
  padding: 32px 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}

/* --------------------HERO------------ */

.hero {
  background: var(--second-title-color);
  padding: 200px 0;
}

.porfolio {
  background: var(--main-title-color);
  padding: 20px;
}
.works-title,
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
.project-item {
  list-style: none;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--forth-title-color);
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}
.hero-btn {
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;
  display: block;
}
.work-list {
  font-family: inherit;
  display: flex;
  list-style: none;
  justify-content: center;
  padding-bottom: 50px;
}

.work-item:not(last-child) {
  margin-right: 8px;
  padding-top: 94px;
  padding-bottom: 56px;
}
li > .all {
  color: var(--main-title-color);
  background-color: var(--second-title-color);
}

.work-btn-current {
  font-family: inherit;
  cursor: pointer;
  color: var(--accent-color);
}
.work-item-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--forth-title-color);
  border-radius: 4px;
  height: 38px;
  cursor: pointer;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
}

.work-item-btn:hover,
.work-item-btn:focus {
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--btn-color);
}

/* portfolio projects */

.project-item {
  background-color: var(--main-title-color);

  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
.portfolio-project {
  border-bottom: 1px solid var(--fifth-title-color);
  border-left: 1px solid var(--fifth-title-color);
  border-right: 1px solid var(--fifth-title-color);
}

.list-project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--forth-title-color);
  margin-top: 20px;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-left: 24px;
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--third-title-color);
  margin-bottom: 20px;
  margin-left: 24px;
}

/* ---------CHARACTERISTICS----------- */

.characteristics {
  padding-top: 94px;
  padding-bottom: 94px;
}
.characteristics-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--forth-title-color);
  margin-top: 0px;
  margin-bottom: 10px;
}
.characteristics-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.characteristics-item {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}
.characteristics-item:not(:last-child) {
  margin-right: 30px;
}

/* ---------ABOUT---------------- */
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
  padding-bottom: 94px;
}
.about-item:first-child {
  margin-right: 30px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-list {
  list-style: none;
  display: flex;
}
.work-list {
  list-style: none;
}
.work-item-btn-current {
  background-color: var(--accent-color);
  color: var(--btn-color);
}

/* ---------------TEAM--------------- */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
  padding-top: 94px;
  padding-bottom: 50px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
}
.team-name {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
}
.team-list {
  list-style: none;
  display: flex;
}

.text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}

.team-item:first-child {
  margin-right: 30px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background-color: var(--btn-color);
}
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
/* -------------FOOTER----------------- */
.footer {
  background-color: var(--second-title-color);
}
.footer-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-title-color);
}
.footer-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
  display: block;
  padding-top: 60px;
  padding-bottom: 20px;
}
.contacts-item {
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  padding-bottom: 9px;
}

.contacts-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 60px;
}
