:root {
  --btn-color: #ffffff;
  --main-title-color: #ffffff;
  --second-title-color: #2f303a;
  --third-title-color: #757575;
  --forth-title-color: #212121;
  --accent-color: #2196f3;
  --typical-margin: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-title-color);
  font-style: normal;
  font-size: 14px;
}

.container {
  width: 1200;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ----------------HEADER------------- */

.main-nav{
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--main-title-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
}
.header-item {
margin-right: 50px;
}
.header-nav .iteam + .iteam{
  margin-left: 50px;
}

/* .header-nav .item:(:last-child){
  margin-right: 50px;
} */
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-accent {
  color: var(--forth-title-color);
}
.link {
  text-decoration: none;
}
/* .header-item { 
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
} */
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  }

.header-item-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
}
.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}

/* --------------------HERO------------ */
.hero {
  background: var(--second-title-color);
  padding: 200px 200px;
}

.porfolio {
  background: var(--main-title-color);
  padding: 20px;
}
.project-item {
  list-style: none;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--forth-title-color);
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 30px;
}
.hero-btn {
  background: var(--accent-color);
  border-radius: 4px;
  padding: 10px; 32px;
  min-width: 200px;
  margin: 0 auto;
  display: block;
  
}

.work-btn-current {
  font-family: inherit;
  cursor: pointer;
  color: var(--accent-color);
}
.work-item-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--forth-title-color);
}
.work-btn-current-link:hover,
.work-btn-current-link:focus {
  color: var(--accent-color);
}

.work-item-btn-link:hover,
.work-item-btn-link:focus {
  color: var(--accent-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--btn-color);
}
/* ---------CHARACTERISTICS----------- */

.characteristics {
  padding-top: 94px;
  padding-bottom: 47px;
}
.characteristics-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--forth-title-color);
  margin-top: 0px;
  margin-bottom: 10px;
}
.characteristics-list {
  list-style: none;
  margin-left: 30px;
}
.characteristics-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  margin-top: 0px;
  margin-bottom: 94px;
}
/* ---------ABOUT---------------- */
.about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
}
.about-list {
  list-style: none;
}
.work-list {
  list-style: none;
}
.work-item-btn-current {
  background-color: var(--accent-color);
  color: var(--btn-color);
}

/* ---------------TEAM--------------- */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--forth-title-color);
}
.team-list {
  list-style: none;
  }
  .team-list > .item:nth-child(3n){
    background-color: #F5F4FA;
  }
.team-item {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  background: white;
}
.team {
  background-color: #f5f4fa;
  margin-top: 0px;
  margin-bottom: 94px;
}
/* -------------FOOTER----------------- */
.footer {
  background-color: var(--second-title-color);
  padding-top: 20px;
  margin-bottom: 9px;
}
.footer-title {
  color: var(--main-title-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.contacts-item {
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.contacts-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
